.h-100{
    height: 100%;
    margin: 0;
}
html{
    background-color: #ebebeb;
    color: #252525;
}
.blue{
    color: #169ef3;
}
nav{
    width: 90%;
    margin: 0 auto;
    background-color: lightblue;
}
main{
    width: 75%;
    margin: 0 auto;
    background-color: lightcyan;
}
.flex{
    display: flex;
}
.flex-colum{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
/* .flex-dire-col{
    flex-direction: column;
}
*/
/*  #64BFF7 #169EF3 #096FAE #010C13  */

